
.main-container{
    background-color: #100E1D;
    padding: 30px 120px;
}

.data-highlight-today{
    padding: 40px 0px;
}

.data-highlight-today h3{
    color: #E7E7EB;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.data-basic-next{
    width:100%;
}

.data-highlight-today__container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:60px
}

@media (max-width:1483px) {
    .data-highlight-today__container{
        justify-content: center;
    }
}

