

.container-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.list-weather{
    padding: 0.5rem;
    background-color: #1E213A;
    color: #E7E7EB;
    width: 120px;
    height: 177px;
}